@import "tailwindcss";

@theme inline {
  --color-primary: rgb(195, 222, 200);
  --color-secondary: rgb(95, 140, 145);
  --color-tertiary: rgb(53, 93, 103);
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

/* LENIS SMOOTH SCROLL*/
html.lenis, html.lenis-body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}